html {
    background-color: #f3f3f3;
}

.form-mini-container {
    max-width: 315px;
    margin: 0 auto;
    font: normal 14px sans-serif;
    text-align: center;
    color: #5f5f5f;
}

.form-mini-container h1 {
    color: #FFFFFF;
    font-size: 25px;
    /*padding-bottom: 30px;*/
    /*border-bottom: 2px solid #6caee0;*/
    font-weight: bold;
    margin: 0;
}


.form-mini {
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: #ffffffcf;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.form-mini .form-row {
    display: block;
    text-align: left;
    margin-bottom: 10px;

}

.form-mini input,
.form-mini select {
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-mini input[type=radio],
.form-mini input[type=checkbox] {
    box-shadow: none;
    width: auto;
}

.form-mini select {
    color: inherit;
    background-color: #ffffff;
}

.form-mini .form-checkbox span {
    margin-left: 5px;
}

.form-mini .form-checkbox input {
    width: auto;
}

.form-mini .form-radio-buttons > div {
    margin-bottom: 10px;
}

.form-mini .form-radio-buttons input {
    width: auto;
}

.form-mini .form-radio-buttons label span {
    margin-left: 8px;
}

/*.form-mini .form-last-row{
    margin: 35px auto 0;
}*/

.form-mini button {
    display: block;
    border-radius: 2px;
    background-color: rgba(156, 136, 255, 1.0);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 14px 22px;
    border: 0;
    cursor: pointer;
    transition: all 0.5s;
    /*    animation: mymove 5s infinite;*/

}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px #78CD51;
    }
}

/* Standard syntax */
@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px #78CD51;
    }
}

.form-mini button:hover, .form-mini button:focus, .form-mini button:active, .form-mini button.active, .open .dropdown-toggle.btn-info {
    background-color: #407A52;
    border-color: #D3D3D3;
    color: #FFFFFF;
}


/* Placeholder color */

.form-mini ::-webkit-input-placeholder {
    color: #999;
}

.form-mini ::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-mini :-ms-input-placeholder {
    color: #999;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-mini-container {
        margin-top: 0;
    }

}


.hide {
    display: none !important;
    visibility: hidden !important
}

.textColor{
    color: rgba(156, 136, 255, 1.0);
}

.error {
    color: #e84118;
}

.accCreatedInfo{
    font-variant-caps: petite-caps;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
}s