/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2017, 5:49:54 PM
    Author     : paulemgh
*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

body {
    font-family: 'Poppins-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}
.view_link{
    background-color:#41CAC0;
}
.edit_link{

    background-color:#58c9f3;
}

.delete_link{

    background-color:#ff6c60;
}

.btn .btn-success{
    box-shadow: 0 4px #61a642;
}


div.sonata-ba-field-inline-table  {
    overflow:auto;
}
/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */

.skin-black .treeview-menu > li > a {
    color: #fff;
}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
    color: #1d1d1d;

}


.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: rgba(64, 115, 158,1.0);
}
.skin-black .sidebar > .sidebar-menu > li >treeview {
    text-transform: uppercase;
}

.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
    color: white;
    background: rgb(42 121 191);
    border-left-color: #fff;
}

.skin-black .main-sidebar, .skin-black .left-side, .skin-black .wrapper{
    background: #25176b;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
/*.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  background: #0e3029;
}*/
/*fading menu
}*/

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #FF6C60;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
table.sonata-ba-list img {
    max-width: 200%; 
}
hr {
    margin-top:0px;
    margin-bottom:0px;
    border: 0;
    border-top: 1px solid #eee;
}

.alert-default {
    background-color: #BFC3C1 !important;
}


.skin-black .main-header>.logo {
    color: rgb(42 121 191) !important;
}

.logo img + span {
    width: 96px;
    font-variant: small-caps;
    font-weight: bold;

}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto; 
    text-align: center;
}

.skin-black .main-header li.user-header {
    background-color: #9c88ff !important
}


.btn-active {
    background-color: #9c88ff;
    border-color: #e41269;
    color: white

}
.btn-active:hover {
    background-color: #9c88ff;
    border-color: #e41269;
    color: white
}

.btn-bleed {
    background-color: #ca0000;
    border-color: #ca0000;
    color: white
}


body {
    background-color: #F1F1F2;

}

.panel {
    /*margin-bottom: 20px;*/
    background-color: transparent;
    /*    border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);*/
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;

    /*font-weight: 200;*/
}


.highcharts-yaxis-title{
    font-family: 'Proxima Nova' !important;
    font-size: 2em;

    font-weight: lighter
}

.highcharts-legend-item {
    font-family: 'Proxima Nova' !important;
    font-size: 1.5em  !important;;
    font-weight: lighter  !important;
}
.help-warning{
    color: crimson;
}

.box.box-solid.box-mazblue>.box-header{
    color: white;
    background: #273c75;
    background-color: #273c75;
}

.border-purple {
    border: 1px solid #25176b !important;
}

.box-header {
    color: #25176b !important;
    background: none !important;;
    background-color: transparent !important;;
}

.title-purple{
    color: #25176b !important;
}

.box.box-primary {
    border-top-color: #9c88ff;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #9c88ff;
}


.box {
    border-top: 3px solid #9c88ff;
}


.bg-aqua {
    background-color: #9c88ff !important;
}
