<script type="text/javascript">
    $(document).ready(function () {

    });

    function entitySelected() {
        let $entityField = $('#{{ admin.uniqid~"_entityType" }}');
        ajaxCall($entityField.val());
        $($entityField).on('change', function () {
            ajaxCall($entityField.val());
        });
    }

    function ajaxCall($data) {
        $.ajax({
            url: '{{ (path('getAccTyById')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": $data
            },
            async: true,
            success: function (response) {
                $("#headerInfo").html(response.name + " " + response.description);
                ;
                $("#feedBack").removeClass('hide');
                // return true;
            }
        });
        // return data;
    }

</script>


