{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}


{% block actions %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sonata-action-element').hide();
        });
    </script>           

{% endblock %}