{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block form %}
    {{ parent() }}
{% endblock %}
    {% block formactions %}
        <div  class="col-md-12 hide" id="feedBack">
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <i class="fa fa-warning"></i>
                    <h5 class="box-title" id="headerInfo" style="font-size:small ">
                    </h5>
                </div>
            </div>
        </div>
        {{ parent() }}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
