{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.totalNetWorth %}
            {% if object.totalNetWorth.id==1 %}
                <span class="help-warning"> {{ object.totalNetWorth }}</span>
            {% else %}
                <span> {{ object.totalNetWorth}}</span>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
{% endblock %}