{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.mediaFilesNames !=null %}
            {% set mediaFilesNames=object.mediaFilesNames|split(",") %}
            {% for file in mediaFilesNames %}
                <a target="_blank" href="{{asset('uploads/media_files/')}}{{file}}" class="label label-info ">
                    {{file}}
                </a>
            {% endfor %}
        {% else %}
            <span>No Document(s) Uploaded</span>
        {% endif %}
    </div>
{% endblock %}