{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{#    //Principal and beaerer Tab#}
    {% include 'ClientBundle:JS:entityPriBene.html.twig' %}
    {#    Special Products and services Tab#}
    {% include 'ClientBundle:JS:specProServ.html.twig' %}

    <script type="text/javascript">
        $(document).ready(function () {
            politicalAffiliation();
            csdAccount();
            largeTraderAgent();
            naturalPerson();
            sameAddr();
            accountType()
        });

        function accountType() {
            const accountType = $('#{{ admin.uniqid ~ "_accountType" }}');
            //check natural when account type is ==1 individual
            let nP = $('#{{ admin.uniqid~"_naturalPerson" }}');

            //this field shows only when its 2.Partner or 2.LLC
            const ghBrokerClass = $('.broker-dealer');
            const nPHideFields = $('.bearerEntity,.pensionAct,.broker-dealer,#sonata-ba-field-container-{{ admin.uniqid ~ "_orgUnderLawCountry" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_accountType" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_registeredPoolInv" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_business" }}');
            //hide when account type is 1.individual means it same as natural person
            const ghBrokerStatus = $('#{{ admin.uniqid ~ "_ghBroDealReg" }}');

            const nPShowFields = $(
                '#sonata-ba-field-container-{{ admin.uniqid ~ "_dob" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_civilStatus" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_occupation" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_national" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_residentCountry" }}'
            );

            //hide when account type is 1.individual
            if ((accountType.val() == 1)) {
                nPHideFields.hide();
                nPShowFields.show()
                nP.iCheck('check');

            }else {
                nPHideFields.show();
                nPShowFields.hide()
            }

            accountType.on('change', function () {
                if ((accountType.val() == 1)) {
                    nPShowFields.show()
                    nPHideFields.hide()
                    nP.iCheck('check');
                } else {
                    nPShowFields.hide()
                    nPHideFields.show()
                }
            })

            //this field shows only when its 2.Partner or 2.LLC
            if ((accountType.val() != 2) || (accountType.val() != 4)) {
                ghBrokerClass.iCheck('uncheck');
                ghBrokerClass.hide();
            }
            if ((accountType.val() != 2) || (accountType.val() != 4)) {
                ghBrokerClass.iCheck('uncheck');
                ghBrokerClass.hide();
            }

            accountType.on('change', function () {
                if ((accountType.val() == 2) || (accountType.val() == 4)) {
                    ghBrokerStatus.iCheck('uncheck');
                    ghBrokerClass.show();
                } else {
                    ghBrokerClass.hide();
                }
            })
        }

        function sameAddr() {
            let $sameAddr = $('#{{ admin.uniqid~"_sameAddr" }}');
            const sameAddrHideFields = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_mailAddress" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_mailAddCountry" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_mailAddRegion" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_mailAddTown" }}');
            if ($($sameAddr).is(':checked')) {
                sameAddrHideFields.hide()
            } else {
                sameAddrHideFields.show()
            }
            $sameAddr.on('ifChecked', function (event) {
                sameAddrHideFields.hide()
            });
            $sameAddr.on('ifUnchecked', function (event) {
                sameAddrHideFields.show()
            });

        }

        function naturalPerson() {
            let $nP = $('#{{ admin.uniqid~"_naturalPerson" }}');
            //fields shown when its a natural person
            const nPShowFields = $(
                '#sonata-ba-field-container-{{ admin.uniqid ~ "_dob" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_civilStatus" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_occupation" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_national" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_residentCountry" }}'
            );
            //fields hidden when its a natural person
            const nPHideFields = $('.bearerEntity,.pensionAct,.broker-dealer,#sonata-ba-field-container-{{ admin.uniqid ~ "_orgUnderLawCountry" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_accountType" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_registeredPoolInv" }},#sonata-ba-field-container-{{ admin.uniqid ~ "_business" }}');
            const accountType = $('#{{ admin.uniqid ~ "_accountType" }}');
            let ghBrokerStatus = $('#{{ admin.uniqid ~ "_ghBroDealReg" }}');
            ;

            if ($($nP).is(':checked')) {
                nPHideFields.hide();
                accountType.val(1)
                nPShowFields.show()
            } else {
                nPHideFields.show();
                nPShowFields.hide()
            }
            $nP.on('ifChecked', function (event) {
                nPHideFields.hide();
                nPShowFields.show()
            });
            $nP.on('ifUnchecked', function (event) {
                nPHideFields.show();
                nPShowFields.hide()
                ghBrokerStatus.iCheck('uncheck');
            });
        }

        function politicalAffiliation() {
            $field = $('#{{ admin.uniqid~"_politicalAff" }}');
            const pol = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_politicalAffInfo" }}');
            if ($($field).is(':checked')) {
                pol.show();
            } else {
                pol.hide();
            }
            $field.on('ifChecked', function (event) {
                pol.show();
            });
            $field.on('ifUnchecked', function (event) {
                pol.hide();
            });
        }

        function largeTraderAgent() {
            $field = $('#{{ admin.uniqid~"_largeTraderAgent" }}');
            const pol = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_largeTraderAgentCSDID" }}');
            if ($($field).is(':checked')) {
                pol.show();
            } else {
                pol.hide();
            }
            $field.on('ifChecked', function (event) {
                pol.show();
            });
            $field.on('ifUnchecked', function (event) {
                pol.hide();
            });
        }


        function csdAccount() {
            //csd account provision
            let $csdField = $('#{{ admin.uniqid~"_csdAccount" }}');
            const csdAccountInfo = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_personalCsdAccountInfo" }}');
            const reqCsd = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_requireCsdAcc" }}');

            if ($($csdField).is(':checked')) {
                csdAccountInfo.show();
                reqCsd.hide()
            } else {
                csdAccountInfo.hide();
                reqCsd.show()
            }
            $csdField.on('ifChecked', function (event) {
                csdAccountInfo.show();
                reqCsd.hide()
            });
            $csdField.on('ifUnchecked', function (event) {
                csdAccountInfo.hide();
                reqCsd.show()
            });
        }


    </script>

{% endblock %}
