<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
        <meta name="google-translate-customization" content="a8d9ee6cbbb1ac99-5c935175f63b7d22-g9748cc4929d14233-f"></meta>
        <title>{% block title %}Welcome{% endblock %}</title>

        <!-- Bootstrap -->
        {% block default_stylesheets %}
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-responsive.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/custom.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/submenu.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/actionmenu.css') }}" />
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
        <script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="{{ asset('js/submenu.js') }}"></script>
        <script src="{{ asset('js/actionmenu.js') }}"></script>


    </head>
    <body>
    {% block body %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}

</body>
</html>
