{% block form_errors %}
    {% if compound %}
        {% if errors|length > 0 %}
            <ul class="val-error">
                {% for error in errors %}
                    <div id="alert-message" class="alert alert-error">
                        <a class="close" href="#">&times;</a>
                        <span class="alert-content">{{ error.messageTemplate|trans }} </span>
                    </div>
                    <div class="clear-both"></div>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="label label-important">{{ error.messageTemplate|trans }}</span>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock form_errors %}

{% block form_row %}
    {% spaceless %}
        <div class="control-group">
            <label class="control-label" for="textinput">
                {{ form_label(form, label|default(null) ) }}
            </label>
            <div class="controls">
                {{ form_widget(form) }}
            </div>
            <span class="message">
                {{ form_errors(form) }}
            </span>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        <label for="{{ id }}">{{ id ? (required ? '<font color="red">* </font>' : '') : ''}} {{ label ? label : name|humanize }}</label>
    {% endspaceless %}
{% endblock form_label %} 


{% block shtumi_dependent_filtered_entity_widget %}

    <select {{ block('widget_attributes') }}></select>

    <script type="text/javascript">
        jQuery(function () {

            jQuery("select#{{ form.parent.offsetGet( parent_field ).vars.id }}").change(function () {
                var selected_index = {{ value ? value : 0 }};
                        jQuery.ajax({
                            type: "POST",
                            data: {
                                parent_id: jQuery(this).val(),
                                entity_alias: "{{ entity_alias }}",
                                empty_value: "{{ empty_value }}"
                            },
                            url: "{{ path('shtumi_dependent_filtered_entity') }}",
                            success: function (msg) {
                                if (msg != '') {
                                    jQuery("select#{{ form.vars.id }}").html(msg).show();
                                    jQuery.each(jQuery("select#{{ form.vars.id }} option"), function (index, option) {
                                        if (jQuery(option).val() == selected_index)
                                            jQuery(option).prop('selected', true);
                                    })
                                    jQuery("select#{{ form.vars.id }}").trigger('change');

                                } else {
                                    jQuery("select#{{ form.vars.id }}").html('<em>{{ no_result_msg|trans() }}</em>');

                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                jQuery('html').html(xhr.responseText);
                            }
                        });
            });
            jQuery("select#{{ form.parent.offsetGet( parent_field ).vars.id }}").trigger('change');
        });
    </script>

{% endblock %}
