<!-- begin:: constituency resulst -->
{% for result in constituenciesResult %}
    {% if result.resultParliamentaryBallot|length>0 %}
<div class="col-xl-4">
    <!--begin:: Widgets/Authors Profit-->
    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
        <div class="kt-portlet__head ">
            <div class="kt-portlet__head-label">
                <a href="{{ path('detail',{year: year, id: result.constituency.id }) }}" class="btn btn-label-info btn-square ">

                    <span>{{ result.constituency.name }}</span>

                </a>
            </div>
            <div class="kt-portlet__head-label ">
                <h5> {{ result.resultParliamentaryBallot.0.candidate.party.acronymn }} <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                </h5>

            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-widget4">
                {% for candidate in result.resultParliamentaryBallot %}
                <div class="kt-widget4__item">
                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                        <img src="{{ asset('uploads/party_image/') }}{{ candidate.candidate.party.pix }}"
                             alt=" {{ candidate.candidate.name|e }}"
                             style="height: 2.5rem;">
                    </div>
                    <div class="kt-widget7__info" style="width: 100%">
                        <span class="kt-widget4__number kt-font-brand">  {{ ((candidate.votes/result.ptotalValid)*100)|round(3) }}%</span>
                        <div class="progress progress-lg">
                            <div class="progress-bar barpos{{ loop.index }}"
                                 role="progressbar"
                                 style="width: {{ (candidate.votes/result.ptotalValid)*100 }}%"
                                 aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="kt-align-right">
            <a href="{{ path('detail',{year: year, id: result.constituency.id }) }}" class="btn btn-label-info btn-square ">
                Total Votes {{ result.ptotalValid }}
            </a>
        </div>
    </div>
</div>
    {% endif  %}
{% endfor %}