<!-- begin:: constituency resulst -->
{% for result in constituenciesResult %}

<div class="col-xl-4">
    <!--begin:: Widgets/Authors Profit-->
    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
        <div class="kt-portlet__head ">
            <div class="kt-portlet__head-label">
                <a href="{{ path('detail',{year: year, id: result.constituency.id }) }}" class="btn btn-label-info btn-square ">
                    <span>{{ result.constituency.name }}</span>
                </a>
            </div>
            <div class="kt-portlet__head-label ">
                <h5> {{ result.candidates.0.acronymn }} <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                </h5>
            </div>
        </div>
        <div class="kt-portlet__body">

            <div class="kt-widget4">
                {% for candidate in result.candidates %}
                    <div class="kt-widget4__item">
                        <div class="kt-widget4__pic kt-widget4__pic--logo">
                            <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                 alt=" {{ candidate.name|e }}"
                                 style="width: 2.5rem;">
                        </div>
                        <div class="kt-widget7__info" style="width: 100%">
                            <a href="#" class="kt-widget4__title">
                                {{ candidate.name|e }}
                            </a>
                            <p class="kt-widget5__text">
                                <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo}}"
                                     alt=" {{ candidate.acronymn|e }}"
                                     style="width: 1.1rem;">
                                {{ candidate.acronymn|e }}
                            </p>
                            <div class="progress progress-lg">
                                <div class="progress-bar barpos{{ loop.index }}"
                                     role="progressbar"
                                     style="width: {{ ((candidate.votes/result.constituency.ptotalValid)*100)|round(2) }}%"
                                     aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>

                                <h5> {{ ((candidate.votes/result.constituency.ptotalValid)*100)|round(2) }}
                                    %</h5>
                            </div>
                        </div>
                        <span class="kt-widget4__number kt-font-brand"> {{candidate.votes|number_format }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="kt-align-right">
            <a href="{{ path('detail',{year: year, id: result.constituency.id }) }}" class="btn btn-label-info btn-square ">
                Total Votes {{ result.constituency.ptotalValid }}
            </a>
        </div>
    </div>
</div>

{% endfor %}