<div class="alert alert-outline-brand" role="alert">
    <strong>TRENDING STORIES</strong>
</div>
<div class="kt-portlet--height-fluid kt-widget19">
    <div class="kt-portlet__body kt-portlet__body--fit">
        {% for entry in all.top %}
            <a href="{{ path('newsArticle', {'slug': entry.slug}) }}">
                <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides"
                     style="min-height: 250px; background-image: url({{ asset('uploads/teaser_image/') }}{{ entry.pix }}">
                    <h5 class="kt-widget19__title kt-font-light">
                        {{ entry.title }}
                    </h5>
                </div>
                <br>
            </a>
        {% endfor %}
    </div>
</div>