<!-- begin: Header Menu -->
<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
            class="la la-close">X</i></button>
<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item">
                <a href="{{ path('homepage') }}" class="kt-menu__link"><span
                            class="kt-menu__link-text">Home</span>
                </a>
            </li>
            <li class="kt-menu__item">
                <a href="{{ path('presidential') }}" class="kt-menu__link">
                    <span class="kt-menu__link-text"> Presidential</span>
                </a>
            </li>
            <li class="kt-menu__item">
                <a href="{{ path('parliamentary') }}" class="kt-menu__link">
                    <span class="kt-menu__link-text"> Parliamentary</span>
                </a>
            </li>
            <li class="kt-menu__item">
                <a href="{{ path('articleList') }}" class="kt-menu__link">
                    <span class="kt-menu__link-text"> News</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end:: Header -->

