<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Ghana news Agency | News In Ghana, Political News in Ghana, Election Infograhics and Data Analysis, Best Graphs of the Ghana Elections{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="description"
          content="Latest updates and statistic for Ghana elections, NPP elections, NDC elections, Voter register in Ghana">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/report/assets/demo/demo4/base/style.bundle.css') }}"/>
    <link href="{{ asset('bundles/report/assets/vendors/custom/vendors/fontawesome5/css/all.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
</head>
<!-- end::Head -->
<body
        class="kt-page--loading-enabled kt-page--loading kt-page--fixed kt-header--fixed kt-header--minimize-menu
       kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading" style="background: white">
<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                    class="flaticon-more-1"></i></button>
    </div>
</div>
<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">
            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header  kt-header--fixed darkMenu" data-ktheader-minimize="on">
                <div class="kt-container">
                    <!-- begin:: Brand -->
                    <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                        <a class="kt-header__brand-logo" href="{{ path('homepage') }}">
                        </a>
                    </div>
                    <!-- end:: Brand -->

                    <!-- begin: Header Menu -->
                    {{ include('@Report/base/menu.html.twig') }}

                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <!-- end:: Header Topbar -->
                </div>
            </div>
            <!-- end:: Header -->

            <!-- start content:: here -->
            {% block content %}


            {% endblock %}
            <!-- end content:: here -->
            <!-- begin:: Footer -->
            <div class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer"
                 style="background-image: url({{ asset('bundles/report/assets/media/bg/bg-2.jpg') }});">
                <div class="kt-footer__top">
                    <div class="kt-container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="kt-footer__section">
                                    <h3 class="kt-footer__title">About</h3>
                                    <div class="kt-footer__content">
                                        Lorem Ipsum is simply dummy text of the printing<br>
                                        and typesetting and typesetting industry has been the <br>
                                        industry's standard dummy text ever since the 1500s,<br>
                                        when an unknown printer took a galley of type.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="kt-footer__section">
                                    <h3 class="kt-footer__title">Quick Links</h3>
                                    <div class="kt-footer__content">
                                        <div class="kt-footer__nav">
                                            <div class="kt-footer__nav-section">
                                                <a href="#">General Reports</a>
                                                <a href="#">Dashboart Widgets</a>
                                                <a href="#">Custom Pages</a>
                                            </div>
                                            <div class="kt-footer__nav-section">
                                                <a href="#">User Setting</a>
                                                <a href="#">Custom Pages</a>
                                                <a href="#">Intranet Settings</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-footer__bottom">
                    <div class="kt-container">
                        <div class="kt-footer__wrapper">
                            <div class="kt-footer__logo">
                                <div class="kt-footer__copyright">
                                    2020&nbsp;&copy;&nbsp;
                                    <a href="#" target="_blank">GNA</a>
                                </div>
                            </div>
                            <div class="kt-footer__menu">
                                <a href="#" target="_blank"> Paapa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:: Footer -->
        </div>
    </div>
</div>


<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#366cf3",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>
<!-- end::Global Config -->
<!--begin:: Global Mandatory Vendors -->

<script src="{{ asset('bundles/report/assets/vendors/general/jquery/dist/jquery.js') }}"
        type="text/javascript"></script>

<script src="{{ asset('bundles/report/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js') }}"
        type="text/javascript"></script>

<!--end:: Global Optional Vendors -->
<!--begin::Global Theme Bundle(used by all pages) -->

<script src="{{ asset('bundles/report/assets/demo/demo4/base/scripts.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/report/js/jquery.js') }}"></script>

{#<!-- <script src="../assets/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script> -->#}


<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/item-series.js"></script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

{% block javascripts %}

{% endblock %}

<!--end::Global App Bundle -->
</body>

</html>
