{% block fos_user_content %}
    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Election Hub - Login </title>
        <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
        <link rel="shortcut icon" href="{{ asset('bundles/report/image/logo-white.png') }}" type="image/png">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/report/fonts/font-awesome/css/font-awesome.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/report/css/util.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/report/css/main.css') }}"/>
        <!--===============================================================================================-->
    </head>
    <div class="">
    <div class="form-mini-container" style="">
        {% block sonata_user_login_form %}
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form"
                              action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
                            <span class="login100-form-title p-b-43">Election Hub</span>
                            {% block sonata_user_login_error %}
                                {% if error %}
                                    <div class="alert-error mini-title">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% else %}
                                    <span class="mini-title">
                                         Login to continue
                                    </span>
                                {% endif %}
                            {% endblock %}
                            <div class="wrap-input100 validate-input" data-validate="Username is required">
                                <input class="input100" id="username" name="_username" value="{{ last_username }}"
                                       type="text">
                                <span class="focus-input100"></span>
                                <span class="label-input100">Username</span>
                            </div>
                            <div class="wrap-input100 validate-input" data-validate="Password is required">
                                <input class="input100" type="password" id="password" name="_password">
                                <span class="focus-input100"></span>
                                <span class="label-input100">Password</span>
                            </div>
                            <div class="flex-sb-m w-full p-t-3 p-b-32">
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" value="on" id="remember_me" name="_remember_me"
                                           type="checkbox">
                                    <label class="label-checkbox100" for="remember_me">
                                        Remember me
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>
                                <div>

                                    <a style="text-decoration: none;color:red"
                                       href="{{ path('homepage') }}">
                                           < Back to Report page
                                    </a>
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <button type="submit" id="_submit" name="_submit" class="login100-form-btn"
                                        value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                                    Login
                                </button>
                            </div>
                       </form>
                        <div class="login100-more"
                             style="background-image: url({{ asset('bundles/report/image/bgImages/bg4.jpg') }}) ">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    <!--===============================================================================================-->
    <script src="{{ asset('bundles/report/js/jquery.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('bundles/report/js/main.js') }}"></script>
{% endblock fos_user_content %}