{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.pix is defined and object.pix !=null %}
            {% set photos=object.pix|split(",") %}
        {% elseif object.pix is defined   and object.pix !=null %}
            {% set photos=object.pix|split(",") %}
        {% endif %}
        {% if photos is defined and photos != null %}
            {% for photo in photos %}
                <a class="fancybox"  href="{{asset('uploads/party_image/')}}{{photo}}">
                    <img src="{{ asset('uploads/party_image/') }}{{photo}}" style="
                         height: 50px;"
                    ></a>
            {% endfor %}
        {% else %}
            No  Image        {% endif %}
    </div>
{% endblock %}