<script type="text/javascript">
    $(document).ready(function () {
        entitySelected();
    });

    function entitySelected() {
        let $entityField = $('#{{ admin.uniqid~"_accountType" }}');
        let $nP = $('#{{ admin.uniqid~"_naturalPerson" }}');

        if ($($nP).is(':checked')) {
            ajaxCall(1);
        } else {
            // ajaxCall($entityField.val());
        }

        $nP.on('ifChecked', function (event) {
            ajaxCall(1);
        });
        $nP.on('ifUnchecked', function (event) {
            //check value of type 0/num...
            ajaxCall($entityField.val());
        });

        $($entityField).on('change', function () {
            ajaxCall($entityField.val());
        });
    }

    function ajaxCall($data) {
        $.ajax({
            url: '{{ (path('getAccTyById')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": $data
            },
            async: true,
            success: function (response) {

                if(response){
                    const newDiv = document.createElement('div');
                    $(".prinBeneOwner").removeClass('hide');
                    newDiv.innerHTML = '' +
                        '<div class="box box-solid box-danger">' +
                        '<div class="box-header">'+
                        '<h4 class="box-title">'+
                        'Notice!! ' + response.description+' for '+response.name +' Entities</h4>' +
                        '</div> </div>'
                    //remove the hidden class
                    //show related divs only based on desc.
                    // if(response.description!==null){
                        let sec1=(response.description.indexOf("I") >= 0);
                        let sec2=(response.description.indexOf("II") >= 0)
                        sec1==true? $(".secI").removeClass('hide'): $(".secI").addClass('hide');
                        sec2==true? $(".secII").removeClass('hide'): $(".secII").addClass('hide');
                        $('.prinBeneOwner').html(newDiv);
                    // }

                }else {
                    //when no value response is set
                    $(".secII").addClass('hide');
                    $(".secI").addClass('hide');
                    $('.prinBeneOwner').addClass('hide');
                }
            }
        });


    }
</script>


