<script type="text/javascript">
    $(document).ready(function () {
        thirdPartyOption()
        agentOption();
        primeBroker();
    });



    function thirdPartyOption() {
        let $thirdParty = $('#{{ admin.uniqid~"_thirdParty" }}');
        let thirdPartyInfo = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_trade" }}');

        if ($($thirdParty).is(':checked')) {
            thirdPartyInfo.show()
        } else {
            thirdPartyInfo.hide()
        }
        $thirdParty.on('ifChecked', function (event) {
            thirdPartyInfo.show()
        });
        $thirdParty.on('ifUnchecked', function (event) {
            thirdPartyInfo.hide()
        });

    }

    function agentOption() {
        let $entityField = $('#{{ admin.uniqid~"_trade" }}');
        let $thirdParty = $('#{{ admin.uniqid~"_thirdParty" }}');
        let personalPrimeBroker = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_personalPrimeBroker" }}');
        let agentInfoField = $('.agentInfo');



        if ($($thirdParty).is(':checked')) {
            personalPrimeBroker.show()
        } else {
            personalPrimeBroker.hide()
        }
        $entityField.on('ifChecked', function (event) {
            personalPrimeBroker.show()
        });
        $entityField.on('ifUnchecked', function (event) {
            personalPrimeBroker.hide()
        });


        if($entityField.val()!==''){
            agentInfoField.removeClass('hide')
        }else{
            agentInfoField.addClass('hide')
        }
        $($entityField).on('change', function () {
            if($(this).val()!==''){
                agentInfoField.removeClass('hide')
            }else{
                agentInfoField.addClass('hide')
            }
        });
    }

    function primeBroker() {
        let $entityField = $('#{{ admin.uniqid~"_sarponAsPrimeBroker" }}');
        let personalPrimeBroker = $('#sonata-ba-field-container-{{ admin.uniqid ~ "_personalPrimeBroker" }}');

        if ($($entityField).is(':checked')) {
            personalPrimeBroker.show()
        } else {
            personalPrimeBroker.hide()
        }
        $entityField.on('ifChecked', function (event) {
            personalPrimeBroker.show()
        });
        $entityField.on('ifUnchecked', function (event) {
            personalPrimeBroker.hide()
        });
    }

</script>


