{% extends "ReportBundle:base:news.html.twig" %}

{% block title %}
    {{ parent() }},
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="margin-top: 4rem">
                    <div class="row">
                        <div class="col-md-8 articleBody">
                            <h4>
                                <a href="{{ path('articleList') }}"> <span
                                            class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded darkMenu">
                                    <cite title="Source Title">News</cite>
                                </span>
                                </a>

                                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded">
                                    <span class="kt-badge kt-badge--brand kt-badge--dot"> </span>
                                    &nbsp; {{ article.title }}
                                </span>
                                </a>
                            </h4>
                            <br>
                            <div>
                                <div class="kt-portlet__body">
                                    <div class="kt-section">
                                        <div class="kt-section__content kt-section__content--solid">
                                            <h2>
                                                {{ article.title }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="lead">
                                        {% set foo = (article.body|split('</p>')) %}
                                        {% autoescape false %}
                                            {{ foo|first }}
                                        {% endautoescape %}
                                    </div>
                                    <div class="kt-widget12__pic center-block">
                                        <img class="kt-widget7__img"
                                             src="{{ asset('uploads/teaser_image/') }}{{ article.pix }}" width="100%"
                                             alt=" {{ article.title }}">
                                    </div>
                                    <br>
                                    <div class="body">
                                        {% for i in foo %}
                                            {% if loop.index>1 %}
                                                {% autoescape false %}
                                                    {{ i }}
                                                {% endautoescape %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3">
                            {% include('@Report/inlcudes/topStories.html.twig') %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-8" style="color: white">
                            <!--begin::Portlet-->
                            <div class="kt-portlet kt-portlet--solid kt-portlet--height-fluid">
                                <div class="kt-portlet__body" style="padding: 0px 10px">
                                    Author
                                    <div class="kt-portlet__content">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" style="padding: 0px">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img"
                                                             src="{{ asset('uploads/user_image/') }}{{ article.user.pix }}"
                                                             alt="{{ article.user.username }}">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title">Author<br>
                                                        </a>
                                                        <a href="#" class="kt-widget5__title">
                                                            <h3>{{ article.user.name }}</h3>
                                                        </a>
                                                        <a href="#" class="kt-widget5__title">
                                                            <h5>{{ article.user.username }}</h5>
                                                        </a>
                                                        <div class="kt-widget5__info">
                                                            <a href="mailto:{{ article.user.email }}">
                                                                <span class="kt-font-info">  {{ article.user.email }}</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number">
                                                          </span>
                                                        <span class="kt-widget5__sales">dsds</span>
                                                    </div>
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number"></span>
                                                        <span class="kt-widget5__votes"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end::Portlet-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}


{% endblock %}
