{% extends "ReportBundle:base:news.html.twig" %}

{% block title %}
    {{ parent() }},
    News Articles List
{% endblock %}

{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="margin-top: 4rem">
                    {% set foo = all.top %}
                    {% set topTeaser = foo|first %}
                    {% set TeaserText = (topTeaser.body|split('</p>')) %}
                    <div class="row">

                        <div class="col-xl-8">

                            <h4>
                                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--rounded darkMenu white-bg">
                                    <cite title="Source Title">News</cite>
                                </span>
                            </h4>
                            <!--begin:: Widgets/Blog-->
                            <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides"
                                         style="min-height: 300px; background-image: url({{ asset('uploads/teaser_image/') }}{{ topTeaser.pix }})">
                                        <a href="{{ path('newsArticle', {'slug': topTeaser.slug}) }}">
                                            <h3 class="kt-widget19__title kt-font-light">
                                                {{ topTeaser.title }}
                                            </h3>
                                        </a>
                                        <div class="kt-widget19__shadow"></div>
                                        <div class="kt-widget19__labels">
                                            <a href="#" class="btn btn-label-light-o2 btn-bold btn-sm ">TOP</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body " style="padding:0px 25px">
                                    <div class="kt-widget19__wrapper">
                                        <div class="kt-widget19__content">
                                            <div class="kt-widget19__userpic">
                                                <img src="{{ asset('uploads/user_image/') }}{{ topTeaser.user.pix }}"
                                                     alt="{{ topTeaser.user.username }}">
                                            </div>
                                            <div class="kt-widget19__info">
                                                <a href="#" class="kt-widget19__username">
                                                    {{ topTeaser.user.name }}
                                                </a>
                                                <span class="kt-widget19__time">
                                                    {{ topTeaser.user.email }}
                                              </span>
                                            </div>
                                            <div class="kt-widget19__stats">
														<span class="kt-widget19__number kt-font-brand">
															18
														</span>
                                                <a href="#" class="kt-widget19__comment">
                                                    Comments
                                                </a>
                                            </div>
                                        </div>
                                        <div class="kt-widget19__text articleBody">
                                            <p>{{ TeaserText|first |striptags }}</p>
                                        </div>
                                    </div>
                                    <div class="kt-align-right">
                                        <a href="{{ path('newsArticle', {'slug': topTeaser.slug}) }}"
                                           class="btn btn-sm btn-label-brand btn-bold">Read More...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 ">
                            <div class="alert alert-outline-brand">
                                <strong>TOP STORIES</strong>
                            </div>
                            <div class="kt-portlet--height-fluid kt-widget19">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    {% for entry in all.top|slice(1,2) %}
                                        <a href="{{ path('newsArticle', {'slug': entry.slug}) }}">
                                            <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides"
                                                 style="min-height: 250px; background-image: url({{ asset('uploads/teaser_image/') }}{{ entry.pix }}">
                                                <h5 class="kt-widget19__title kt-font-light">
                                                    {{ entry.title }}
                                                </h5>
                                            </div>
                                            <br>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-8">
                            <!--begin:: Widgets/Best Sellers-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                                            <div class="kt-widget5">
                                                {% for article in all.all %}
                                                    <div class="kt-widget5__item">
                                                        <div class="kt-widget5__content">
                                                            <div class="kt-widget5__pic">
                                                                <img class="kt-widget7__img"
                                                                     src="{{ asset('uploads/teaser_image/') }}{{ article.pix }}"
                                                                     alt="">
                                                            </div>
                                                            <div class="kt-widget5__section">
                                                                <a href="{{ path('newsArticle', {'slug': topTeaser.slug}) }}"
                                                                   class="kt-widget5__title">
                                                                    {{ article.title }}
                                                                </a>
                                                                <div class="kt-widget5__info">
                                                                    <span>Author:</span>
                                                                    <span class="kt-font-info"> {{ article.user.username }}</span>
                                                                    <span>Publised:</span>
                                                                    <span class="kt-font-info">{{ article.updatedAt|date("m.d.y") }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget5__content">
                                                            <div class="kt-widget5__stats">
                                                                <span class="kt-widget5__number">{{ random(50)+1 }}</span>
                                                                <span class="kt-widget5__sales"><i
                                                                            class="fa fa-comment-dots"></i></span>
                                                            </div>
                                                            <div class="kt-widget5__stats">
                                                                <span class="kt-widget5__number">{{ random(100)+100 }}</span>
                                                                <span class="kt-widget5__votes"><i class="fa fa-1x fa-eye"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end:: Widgets/Best Sellers-->
                        </div>
                        <div class="col-xl-3 ">
                            <div class="kt-portlet--height-fluid kt-widget19">
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    {% for entry in all.top|slice(3,3) %}
                                        <a href="{{ path('newsArticle', {'slug': entry.slug}) }}">
                                            <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides"
                                                 style="min-height: 250px; background-image: url({{ asset('uploads/teaser_image/') }}{{ entry.pix }}">
                                                <h5 class="kt-widget19__title kt-font-light">
                                                    {{ entry.title }}
                                                </h5>
                                            </div>
                                            <br>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}


{% endblock %}
