{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Details of {{ constituencyName }}
{% endblock %}


{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <div class="row stickSearch">
                        <div class="kt-portlet kt-portlet--height-fluid  kt-portlet kt-portlet--solid-info">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {% if candidates is not empty %}
                                            {{ constituencyName }} Constituency Results <span
                                                class="kt-badge kt-badge--warning kt-badge--dot"></span>
                                            Updated
                                            <i class="fa fa-1x fa-clock"> </i>
                                            {{ candidates[0].updatedAt|date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            No Results
                                        {% endif %}

                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <form action="" method="POST">
                                        <span class="kt-font-transform-u">Result for</span>
                                        {{ form_widget(form.year,{value:year}) }}
                                        {{ form_widget(form.constituency,{value:constituency}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Begin::Dashboard 4-->
                    <!--begin ::candidatate-->

                    {% if candidates[0].updatedAt is defined %}
                        <div class="row">
                            {% for result in candidates %}
                                <div class="col-xl-6">
                                    <!--begin:: Widgets/Authors Profit-->
                                    <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                        <div class="kt-portlet__head ">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Presidential
                                                </h3>
                                            </div>
                                            <div class="kt-portlet__head-label ">
                                                <h5> {{ result.winner.name }}
                                                    <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="kt-portlet__body">
                                            <div class="kt-widget4">
                                                {% for candidate in result.resultPartyBallot %}
                                                    <div class="kt-widget4__item">
                                                        <div class="rank pos{{ loop.index }}">
                                                            {{ loop.index }}
                                                            <sup class=" rankpos{{ loop.index }}"></sup>
                                                        </div>
                                                        <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                            <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.candidate.pix }}"
                                                                 alt=" {{ candidate.candidate.name|e }}"
                                                                 style="width: 4rem;">
                                                        </div>
                                                        <div class="kt-widget7__info" style="width: 100%">
                                                            <a href="#" class="kt-widget4__title">
                                                                {{ candidate.candidate.name|e }}
                                                            </a>
                                                            <p class="kt-widget5__text">
                                                                <img src="{{ asset('uploads/party_image/') }}{{ candidate.candidate.party.pix }}"
                                                                     alt=" {{ candidate.candidate.party.name|e }}"
                                                                     style="width: 1.5rem;">
                                                                {{ candidate.candidate.party.name|e }}
                                                            </p>
                                                            <div class="progress progress-lg">
                                                                <div class="progress-bar barpos{{ loop.index }}"
                                                                     role="progressbar"
                                                                     style="width: {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%"
                                                                     aria-valuenow="75" aria-valuemin="0"
                                                                     aria-valuemax="100">
                                                                </div>

                                                                <h5> {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}
                                                                    %</h5>
                                                            </div>
                                                        </div>
                                                        <span class="kt-widget4__number kt-font-brand"> {{ candidate.votes|number_format }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="kt-align-right">
                                            Valid
                                            <a href="#" class="btn btn-label-success-o2  btn-square vote-value">
                                                {{ (result.totalValid)|number_format }}
                                            </a>
                                        </div>
                                        <div class="kt-align-right">
                                            Rejected
                                            <a href="#" class="btn btn-label-danger-o2 btn-square vote-value">
                                                {{ result.totalRejected|number_format }}
                                            </a>
                                        </div>
                                        <div class="kt-align-right">
                                            Total
                                            <a href="#" class="btn btn-label-info-o2  btn-square vote-value">
                                                {{ result.totalCast |number_format }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-xl-6">
                                <!--begin:: Widgets/Order Statistics-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget12">
                                            <div>
                                                <div id="presidentPie" style="width: 100%; height: 400px;"></div>
                                            </div>
<br>
                                            <div>
                                                <div id="presidentBar" style="width: 100%; height: 400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--end:: Widgets/Order Statistics-->
                            </div>
                        </div>
                        <!--end ::candidatate-->
                        <!--begin::constituencies-->
                        {#      Constutuency results#}
                        <div class="row">
                            <!-- begin:: constituency resulst -->
                            {% for result in parliamentsResult %}

                                {% if result.resultParliamentaryBallot|length>0 %}
                                    <div class="col-xl-6">
                                        <!--begin:: Widgets/Authors Profit-->
                                        <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                            <div class="kt-portlet__head ">
                                                <div class="kt-portlet__head-label">
                                                    <h3 class="kt-portlet__head-title">
                                                        Parliamentary Result
                                                    </h3>
                                                </div>

                                                <div class="kt-portlet__head-label ">
                                                    <h5> {{ result.resultParliamentaryBallot.0.candidate.party.acronymn }}
                                                        <i class="fa fa-x fa-check-circle kt-font-success">
                                                        </i>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="kt-portlet__body">
                                                <div class="kt-widget4">
                                                    {% for candidate in result.resultParliamentaryBallot %}
                                                        <div class="kt-widget4__item">
                                                            <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                                <img src="{{ asset('uploads/party_image/') }}{{ candidate.candidate.party.pix }}"
                                                                     alt=" {{ candidate.candidate.name|e }}"
                                                                     style="height: 2.5rem;">
                                                            </div>
                                                            <div class="kt-widget7__info" style="width: 100%">
                                                        <span class="kt-widget4__number kt-font-brand">
                                                              {% if result.ptotalValid>0 %}
                                                                  {{ ((candidate.votes/result.ptotalValid)*100)|round(3) }}%
                                                              {% endif %}
                                                            </span>
                                                                <div class="progress progress-lg">
                                                                    <div class="progress-bar barpos{{ loop.index }}"
                                                                         role="progressbar"
                                                                            {% if result.ptotalValid>0 %}
                                                                                style="width: {{ (candidate.votes/result.ptotalValid)*100 }}%"
                                                                            {% endif %}
                                                                         aria-valuenow="75" aria-valuemin="0"
                                                                         aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="kt-widget4__number kt-font-brand"> {{ candidate.votes|number_format }}</span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="kt-align-right">
                                                Valid
                                                <a href="#" class="btn btn-label-success-o2  btn-square vote-value">
                                                    {{ (result.ptotalValid)|number_format }}
                                                </a>
                                            </div>
                                            <div class="kt-align-right">
                                                Rejected
                                                <a href="#" class="btn btn-label-danger-o2 btn-square vote-value">
                                                    {{ result.ptotalRejected|number_format }}
                                                </a>
                                            </div>
                                            <div class="kt-align-right">
                                                Total
                                                <a href="#" class="btn btn-label-info-o2  btn-square vote-value">
                                                    {{ result.ptotalCast |number_format }}
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if parliamentsResult.0.resultParliamentaryBallot|length>0 %}
                                <div class="col-xl-6">
                                    <!--begin:: Widgets/Order Statistics-->
                                    <div class="kt-portlet kt-portlet--height-fluid">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget12">
                                                <div>
                                                    <div id="parliamentPie"
                                                         style="width: 100%; height: 400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end:: Widgets/Order Statistics-->
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>


                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('.yearResults,.constituencyResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>


    <!-- Chart code -->
    <script>

        // Build the chart
        Highcharts.chart('presidentPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 35
                }
            },
            title: {
                text: '{{ constituencyName }}  Presidential Share for {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            subtitle: {
                text: 'Source: E.C Ghana'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    innerSize: 100,
                    depth: 45,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + '</b><br>Vote count: ' + this.point.y + '</b> ';
                        },
                    }

                }
            },

            series: [
                {
                    name: 'Votes',
                    // colorByPoint: true,
                    data: [
                        {% if candidates.0.resultPartyBallot is defined %}
                        {% for candidate in candidates.0.resultPartyBallot %}
                        {
                            name: "{{ candidate.candidate.name }}",
                            y: {{ candidate.votes }}
                        },
                        {% endfor %}
                        {% endif %}
                    ]
                }]
        });

        Highcharts.chart('presidentBar', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],

            chart: {
                type: 'column'
            },
            tooltip: {
                pointFormat: 'Votes <b>{point.y}</b>'
            },
            legend: {
                enabled: false
            },

            title: {
                text: '{{ constituencyName }}  Presidential Votes {{ homeDefault.name }}'
            },
            xAxis: {

                categories: [
                    {% if candidates.0.resultPartyBallot is defined %}
                    {% for candidate in candidates.0.resultPartyBallot %}
                        "{{ candidate.candidate.party.acronymn }}",
                    {% endfor %}
                    {% endif %}

                ]
            },
            plotOptions: {
                series: {
                    colorByPoint: true
                }
            },
            series: [{
                data: [
                    {% if candidates.0.resultPartyBallot is defined %}
                    {% for candidate in candidates.0.resultPartyBallot %}
                    {{ candidate.votes }},
                    {% endfor %}
                    {% endif %}
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }],

        });

        Highcharts.chart('parliamentPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{ constituencyName }} Constituency Parliamentary Run for {{ homeDefault.name }}'
            },
            subtitle: {
                text: 'Source: EC Ghana'
            },
            xAxis: {
                categories:

                    [' Parliamentary Votes'],

                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [



                {% if candidates.0.resultParliamentaryBallot is defined %}

                {% for candidate in candidates.0.resultParliamentaryBallot %}
                {
                    name: '{{ candidate.candidate.party.acronymn }}',
                    data: [{{ candidate.votes }}]
                },
                {% endfor %}
                {% endif %}



            ]
        });


    </script>


{% endblock %}
