{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Election Hub Home
{% endblock %}



{% block content %}

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- begin:: Subheader -->
                <div class="kt-subheader kt-grid__item" id="kt_subheader">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">Home</h3>
                        <h4 class="kt-subheader__desc">
                            {{ homeDefault.description }}
                        </h4>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <a href="#" class="btn kt-subheader__btn-secondary">
                                Reports For
                            </a>
                        </div>
                        <div class="kt-subheader__wrapper">
                            <div class="kt-subheader__wrapper">
                                <form action="" method="POST" class="sonata-filter-form form-horizontal">
                                    {{ form_widget(form.year,{value:year}) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <!--Begin::Dashboard 4-->
                    <!--begin ::candidatate-->
                    <div class="row">
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Authors Profit-->
                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-align-right" data-toggle="kt-tooltip"
                                             data-placement="left" title=" View Details">
                                            <a href="{{ path('presidential') }}" class="btn btn-label-info btn-square ">
                                                <i class="fa fa-eye"></i>Details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% if candidates is not empty %}
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget4">
                                            {% for candidate in candidates %}
                                                <div class="kt-widget4__item">
                                                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                        <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                                             alt=" {{ candidate.candidate|e }}"
                                                             style="width: 4rem;">
                                                    </div>
                                                    <div class="kt-widget7__info" style="width: 100%">
                                                        <a href="#" class="kt-widget4__title">
                                                            {{ candidate.candidate|e }}
                                                        </a>
                                                        <p class="kt-widget5__text">
                                                            <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo }}"
                                                                 alt=" {{ candidate.candidate|e }}"
                                                                 style="width: 1.5rem;">
                                                            {{ candidate.party|e }}
                                                        </p>
                                                        <div class="progress progress-lg">
                                                            <div class="progress-bar barpos{{ loop.index }}"
                                                                 role="progressbar"
                                                                 style="width: {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%"
                                                                 aria-valuenow="75" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>

                                                            <h5> {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}
                                                                %</h5>
                                                        </div>
                                                    </div>
                                                    <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-align-right" data-toggle="kt-tooltip"
                                             data-placement="left" title=" View Details">

                                        </div>
                                    </div>
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            <a href="{{ path('presidential') }}" class="btn btn-label-info btn-square ">
                                                <i class="fa fa-eye"></i>
                                                Party Vote Count Race
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fluid" style="padding:0px 5px">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="partyBar" style="width: 100%; height: 700px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                        <div class="col-xl-4">
                            <!--begin:: Widgets/Best Sellers-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            News
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab"
                                                   href="#kt_widget5_tab1_content" role="tab" aria-selected="true">
                                                    Latest
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab2_content"
                                                   role="tab" aria-selected="false">
                                                    Top Stories
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="kt-portlet__body" style="padding:5px 1rem">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                                            <div class="kt-widget5">
                                                {% for article in news.all %}
                                                <div class="kt-widget5__item" style="padding:0px">
                                                    <a href="{{ path('newsArticle', {'slug': article.slug}) }}">
                                                    <div class="kt-widget5__content">
                                                            <div class="kt-widget5__pic">
                                                                <img class="kt-widget7__img"
                                                                     src="{{ asset('uploads/teaser_image/') }}{{ article.pix }}"
                                                                     alt=" {{ article.title }}">
                                                            </div>
                                                            <div class="kt-widget5__section" style="text-align: start">
                                                                <p href="#" class="kt-widget5__title" style="margin-bottom:0px">
                                                                   {{ article.title }}
                                                                </p>
                                                                <div class="kt-widget5__info">
                                                                    <span>Author:</span>
                                                                    <span class="kt-font-info">{{ article.user.username }}</span>
                                                                    <span>Published:</span>
                                                                    <span class="kt-font-info">{{article.updatedAt|date("m.d.y") }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor%}
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="kt_widget5_tab2_content">
                                            <div class="kt-widget5">
                                                {% for article in news.top %}
                                                    <div class="kt-widget5__item" style="padding:0px">
                                                        <a href="{{ path('newsArticle', {'slug': article.slug}) }}">
                                                            <div class="kt-widget5__content">
                                                                <div class="kt-widget5__pic">
                                                                    <img class="kt-widget7__img"
                                                                         src="{{ asset('uploads/teaser_image/') }}{{ article.pix }}"
                                                                         alt=" {{ article.title }}">
                                                                </div>
                                                                <div class="kt-widget5__section" style="text-align: start">
                                                                    <p href="#" class="kt-widget5__title" style="margin-bottom:0px">
                                                                        {{ article.title }}
                                                                    </p>
                                                                    <div class="kt-widget5__info">
                                                                        <span>Author:</span>
                                                                        <span class="kt-font-info"> {{ article.user.username }}</span>
                                                                        <span>Published:</span>
                                                                        <span class="kt-font-info">{{article.updatedAt|date("m.d.y") }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor%}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-align-right" data-toggle="kt-tooltip"
                                                 data-placement="left" title=" More News Articles">
                                                <a href="{{ path('articleList') }}" class="btn btn-label-info btn-square ">
                                                   View All Stories <i class="fa fa-newspaper"> </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end:: Widgets/Best Sellers-->
                        </div>
                    </div>
                    <!--end ::candidatate-->
                    <!--begin ::candidatate-->
                    <div class="row">
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="candidatePie" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            Candidates Voter Count Race
                                        </h3>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="candidateImage" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>
                    <!--end ::candidatate-->

                    <!--begin ::map-->
                    <div class="row">

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="regionalPie" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            Critical Areas Results (Flash Points)
                                        </h3>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fluid" style="padding: 0px">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="map" style="width: 100%; height: 600px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>
                    <!--Begin::Section-->
                    <div class="row">
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Quick Stats-->
                            <div class="row row-full-height">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-brand">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                            <span class="kt-widget26__number">
                                                                {% if homeDefault.description %}
                                                                    {{ homeDefault.totalRegVoter|number_format }}
                                                                {% endif %}
                                                            </span>
                                                    <span class="kt-widget26__desc">Total Registered Voters</span>
                                                </div>

                                                <div class="center"
                                                     style="height:100px; width: 230px; text-align: center">
                                                    <i class="fa fa-6x fa-users" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-success kt-font-success">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalValid|number_format }}</span>
                                                    <span class="kt-widget26__desc"> Total Valid Votes</span>
                                                </div>
                                                <div class="kt-widget26__chart"
                                                     style="height:100px; width: 230px;">
                                                    <div style="height:100px; width: 230px; text-align: center">
                                                        <i class="fa fa-6x fa-check" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-dark">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalCast|number_format }}</span>
                                                    <span class="kt-widget26__desc">Total Votes Casted</span>
                                                </div>
                                                <div style="height:100px; width: 230px;text-align: center">
                                                    <img height="100"
                                                         src="{{ asset('bundles/report/image/votes.png') }} ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-danger kt-font-danger">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalRejected|number_format }}</span>
                                                    <span class="kt-widget26__desc">Rejected Votes</span>
                                                </div>
                                                <div style="height:100px; width: 230px; text-align: center">
                                                    <i class="fa fa-6x fa-window-close" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Quick Stats-->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            Voters and Ballot Statistics
                                        </h3>

                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="electionTotal" style="width: 100%; height: 360px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>
                    <!--End::Section-->
                </div>

                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}


    <script type="text/javascript">
        $('.yearResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>
    <!-- Chart code -->
    <script>

        Highcharts.chart('candidatePie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            title: {
                text: 'Presidential Voter Percentage for  {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            subtitle: {
                text: 'Source: E.C Ghana'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    innerSize: 100,
                    depth: 45,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + '</b><br>Vote count: ' + this.point.y + '</b> ';
                        },
                    }

                }
            },

            series: [{
                name: 'Votes Percentage',
                data: [
                    {% for candidate in candidates %}
                    ['{{ candidate.candidate|e }}', {{ candidate.votes }}],
                    {% endfor %}
                ]
            }]
        });

        am4core.ready(function () {

            //election totals
            am4core.useTheme(am4themes_animated);


            var chart = am4core.create("electionTotal", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
            chart.data = [
                {
                    name: "Registered Voters",
                    total: {{ homeDefault.totalRegVoter }}
                },
                {
                    name: "Total Votes Casted",
                    total: {{ votePopulation.totalCast }}
                },
                {
                    name: "Valid Votes",
                    total: {{ votePopulation.totalValid }}
                },
                {
                    name: "Rejected Votes",
                    total: {{ votePopulation.totalRejected }}
                },

            ];


            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;

            categoryAxis.renderer.labels.template.adapter.add("dy", function (dy, target) {
                if (target.dataItem && target.dataItem.index & 2 == 2) {
                    return dy + 25;
                }
                return dy;
            });

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            // Create series
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueY = "total";
            series.dataFields.categoryX = "name";
            series.name = "total";
            series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
            series.columns.template.fillOpacity = .8;
            series.columns.template.adapter.add("fill", function (fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });


            var chart = am4core.create("partyBar", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.paddingRight = 0;
            chart.data = [

                {% for candidate in candidates|reverse %}
                {
                    'name': "{{ candidate.candidate|split(' ')[0] }}",
                    'steps': {{ candidate.votes }},
                    "href": "{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                },
                {% endfor %}

            ];

            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.renderer.grid.template.strokeOpacity = 0;
            categoryAxis.renderer.minGridDistance = 10;
            categoryAxis.renderer.labels.template.dx = -40;
            categoryAxis.renderer.minWidth = 120;
            categoryAxis.renderer.tooltip.dx = -40;

            var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.inside = true;
            valueAxis.renderer.labels.template.fillOpacity = 0.3;
            valueAxis.renderer.grid.template.strokeOpacity = 0;
            valueAxis.min = 0;
            valueAxis.cursorTooltipEnabled = false;
            valueAxis.renderer.baseGrid.strokeOpacity = 0;
            valueAxis.renderer.labels.template.dy = 0;

            var series = chart.series.push(new am4charts.ColumnSeries);
            series.dataFields.valueX = "steps";
            series.dataFields.categoryY = "name";
            series.tooltipText = "{valueX.value}";
            series.tooltip.pointerOrientation = "vertical";
            series.tooltip.dy = -30;
            series.columnsContainer.zIndex = 100;

            var columnTemplate = series.columns.template;
            columnTemplate.height = am4core.percent(20);
            columnTemplate.maxHeight = 50;
            columnTemplate.column.cornerRadius(60, 10, 60, 10);
            columnTemplate.strokeOpacity = 0;

            series.heatRules.push({
                target: columnTemplate,
                property: "fill",
                dataField: "valueX",
                min: am4core.color("#e5dc36"),
                max: am4core.color("#5faa46")
            });
            series.mainContainer.mask = undefined;

            var cursor = new am4charts.XYCursor();
            chart.cursor = cursor;
            cursor.lineX.disabled = true;
            cursor.lineY.disabled = true;
            cursor.behavior = "none";

            var bullet = columnTemplate.createChild(am4charts.CircleBullet);
            bullet.circle.radius = 20;
            bullet.valign = "middle";
            bullet.align = "left";
            bullet.isMeasured = true;
            bullet.interactionsEnabled = false;
            bullet.horizontalCenter = "right";
            bullet.interactionsEnabled = false;

            var hoverState = bullet.states.create("hover");
            var outlineCircle = bullet.createChild(am4core.Circle);
            outlineCircle.adapter.add("radius", function (radius, target) {
                var circleBullet = target.parent;
                return circleBullet.circle.pixelRadius + 10;
            })

            var image = bullet.createChild(am4core.Image);
            image.width = 40;
            image.height = 40;
            image.horizontalCenter = "middle";
            image.verticalCenter = "middle";
            image.propertyFields.href = "href";

            image.adapter.add("mask", function (mask, target) {
                var circleBullet = target.parent;
                return circleBullet.circle;
            })

            var previousBullet;
            chart.cursor.events.on("cursorpositionchanged", function (event) {
                var dataItem = series.tooltipDataItem;

                if (dataItem.column) {
                    var bullet = dataItem.column.children.getIndex(1);

                    if (previousBullet && previousBullet != bullet) {
                        previousBullet.isHover = false;
                    }

                    if (previousBullet != bullet) {

                        var hs = bullet.states.getKey("hover");
                        hs.properties.dx = dataItem.column.pixelWidth;
                        bullet.isHover = true;

                        previousBullet = bullet;
                    }
                }
            })

            //candidate Image
            var chart = am4core.create("candidateImage", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.paddingBottom = 30;

            chart.data = [

                {% for candidate in candidates %}
                {
                    'name': "{{ candidate.candidate|split(' ')[0] }}",
                    'steps': {{ candidate.votes }},
                    "href": "{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                },
                {% endfor %}

            ];

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "name";
            categoryAxis.renderer.grid.template.strokeOpacity = 0;
            categoryAxis.renderer.minGridDistance = 10;
            categoryAxis.renderer.labels.template.dy = 35;
            categoryAxis.renderer.tooltip.dy = 35;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.inside = true;
            valueAxis.renderer.labels.template.fillOpacity = 0.3;
            valueAxis.renderer.grid.template.strokeOpacity = 0;
            valueAxis.min = 0;
            valueAxis.cursorTooltipEnabled = false;
            valueAxis.renderer.baseGrid.strokeOpacity = 0;

            var series = chart.series.push(new am4charts.ColumnSeries);
            series.dataFields.valueY = "steps";
            series.dataFields.categoryX = "name";
            series.tooltipText = "{valueY.value}";
            series.tooltip.pointerOrientation = "vertical";
            series.tooltip.dy = -6;
            series.columnsContainer.zIndex = 100;

            var columnTemplate = series.columns.template;
            columnTemplate.width = am4core.percent(50);
            columnTemplate.maxWidth = 66;
            columnTemplate.column.cornerRadius(60, 60, 10, 10);
            columnTemplate.strokeOpacity = 0;

            series.heatRules.push({
                target: columnTemplate,
                property: "fill",
                dataField: "valueY",
                min: am4core.color("#e5dc36"),
                max: am4core.color("#5faa46")
            });
            series.mainContainer.mask = undefined;

            var cursor = new am4charts.XYCursor();
            chart.cursor = cursor;
            cursor.lineX.disabled = true;
            cursor.lineY.disabled = true;
            cursor.behavior = "none";

            var bullet = columnTemplate.createChild(am4charts.CircleBullet);
            bullet.circle.radius = 30;
            bullet.valign = "bottom";
            bullet.align = "center";
            bullet.isMeasured = true;
            bullet.mouseEnabled = false;
            bullet.verticalCenter = "bottom";
            bullet.interactionsEnabled = false;

            var hoverState = bullet.states.create("hover");
            var outlineCircle = bullet.createChild(am4core.Circle);
            outlineCircle.adapter.add("radius", function (radius, target) {
                var circleBullet = target.parent;
                return circleBullet.circle.pixelRadius + 5;
            })

            var image = bullet.createChild(am4core.Image);
            image.width = 60;
            image.height = 60;
            image.horizontalCenter = "middle";
            image.verticalCenter = "middle";
            image.propertyFields.href = "href";

            image.adapter.add("mask", function (mask, target) {
                var circleBullet = target.parent;
                return circleBullet.circle;
            })

            var previousBullet;
            chart.cursor.events.on("cursorpositionchanged", function (event) {
                var dataItem = series.tooltipDataItem;

                if (dataItem.column) {
                    var bullet = dataItem.column.children.getIndex(1);

                    if (previousBullet && previousBullet != bullet) {
                        previousBullet.isHover = false;
                    }

                    if (previousBullet != bullet) {
                        var hs = bullet.states.getKey("hover");
                        hs.properties.dy = -bullet.parent.pixelHeight + 10;
                        bullet.isHover = true;
                        previousBullet = bullet;
                    }
                }
            })

        }); // end am4core.ready()
    </script>


    <script>
        var planes = [


            {% if resLevel=='Constituency' %}

            {% for seat in flash %}
            ['{{seat.constituency.name}}<hr>{% for result in seat.resultPartyBallot %}<p> {{result.candidate.party.acronymn}}: {{result.votes|number_format}}</p>{% endfor %}<hr>Total: {{ seat.totalValid|number_format }}',{{seat.constituency.latitude}},{{seat.constituency.longitude}}],
            {% endfor %}

            {% else %}
            {% for seat in flash %}
            ['{{seat.constituency.name}}<hr>{% for result in seat.candidates %}<p> {{result.acronymn}}: {{result.votes|number_format}}</p>{% endfor %}',{{seat.constituency.latitude}},{{seat.constituency.longitude}}],
            {% endfor %}
            {% endif %}

        ];

        var icon = new L.icon({
            iconUrl: "{{asset('bundles/report/image/fire2.gif')}}",
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [35, 41], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62], // the same for the shadow
            popupAnchor: [-20, - 25] // point from which the popup should open relative to the iconAnchor
        })

        var map = L.map('map').setView([8.405423, -1.105401], 7);
        mapLink =
            '<a href="http://openstreetmap.org">YES</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; ' + mapLink + ' Contributors',
                maxZoom: 18,
            }).addTo(map);



        for (var i = 0; i < planes.length; i++) {
            marker = new L.marker([planes[i][1], planes[i][2]],{icon: icon})
                .bindPopup(planes[i][0])
                .addTo(map);
        }

        function onEachFeature(feature, layer) {
                layer.setIcon(retIcon);
        }


        Highcharts.chart('regionalPie', {
            colors: ['green', 'red', '#8b0000', '#ffb822', '#64E572', '#FF965', 'cyan'],
            chart: {
                type: 'item'
            },
            title: {
                text: '{{ regionName }} Regional Seats'
            },
            subtitle: {
                text: 'Presidential Seats Visualization'
            },
            legend: {
                labelFormat: '{name} <span style="opacity: 0.4">{y}</span>'
            },
            series: [{
                name: 'MPs',
                keys: ['name', 'y', 'color', 'label'],
                data: [
                    {% for seat in seats %}
                    ['{{ seat.pname }}', {{ seat.seats }}, null, '{{ seat.acronymn }}'],
                    {% endfor %}
                ],
                dataLabels: {
                    enabled: true,
                    format: '{point.label}'
                },
                // Circular options
                center: ['50%', '88%'],
                size: '170%',
                startAngle: -100,
                endAngle: 100
            }]
        });
    </script>



{% endblock %}
