{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Election Hub Home
{% endblock %}


{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <div class="row stickSearch">
                        <div class="kt-portlet kt-portlet--height-fluid  kt-portlet kt-portlet--solid-info">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {%  if latest is not null %}
                                            Parliamentary Results <span class="kt-badge kt-badge--warning kt-badge--dot"></span>
                                            Updated
                                            <i class="fa fa-1x fa-clock"> </i>
                                            {{ latest|date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            No Results
                                        {% endif%}
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <form action="" method="POST">
                                        <span class="kt-font-transform-u">Result for</span>
                                        {{ form_widget(form.year,{value:year}) }}
                                        {{ form_widget(form.region,{value:region}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Begin::Dashboard 4-->

                    <!--begin ::candidatate-->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        {% set seatCount=0 %}
                                        {% for seat in seats %}
                                            {% set seatCount = seatCount+seat.seats %}
                                        {% endfor %}
                                        <h3 class="kt-portlet__head-title">{{regionName}} Regional Seats ({{seatCount}} out of {{ constituenciesCount }} constituencies)
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget4">
                                        {% for seat in seats %}
                                            <div class="kt-widget4__item">
                                                <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                    <img src="{{ asset('uploads/party_image/') }}{{ seat.logo }}"
                                                         alt=" {{ seat.pname|e }}"
                                                         style="width: 4rem;">
                                                </div>
                                                <div class="kt-widget7__info" style="width: 100%">
                                                    <a href="#" class="kt-widget4__title">
                                                        {{seat.pname|e }}
                                                    </a>
                                                    <p class="kt-widget5__text">
                                                        {{ seat.acronymn|e }}
                                                    </p>
                                                    <div class="progress progress-lg" >
                                                        <div class="progress-bar barpos{{ loop.index }}"
                                                             role="progressbar"
                                                             style="width:20%"
                                                             aria-valuenow="75" aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                        <h5>
                                                            {#                                          {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%#}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <span class="kt-widget4__number kt-font-brand">   {{ seat.seats|number_format }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="regionalPie" style="width: 100%; height: 700px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        {% set seatCount=0 %}
                                        {% for seat in seats %}
                                            {% set seatCount = seatCount+seat.seats %}
                                        {% endfor %}
                                        <h3 class="kt-portlet__head-title">{{regionName}} Regional Seats ({{seatCount}} out of {{ constituenciesCount }} constituencies)
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget4">
                                        {% for seat in seats %}
                                            <div class="kt-widget4__item">
                                                <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                    <img src="{{ asset('uploads/party_image/') }}{{ seat.logo }}"
                                                         alt=" {{ seat.pname|e }}"
                                                         style="width: 4rem;">
                                                </div>
                                                <div class="kt-widget7__info" style="width: 100%">
                                                    <a href="#" class="kt-widget4__title">
                                                        {{seat.pname|e }}
                                                    </a>
                                                    <p class="kt-widget5__text">
                                                        {{ seat.acronymn|e }}
                                                    </p>
                                                    <div class="progress progress-lg" >
                                                        <div class="progress-bar barpos{{ loop.index }}"
                                                             role="progressbar"
                                                             style="width:20%"
                                                             aria-valuenow="75" aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                        <h5>
                                                            {#                                          {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%#}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <span class="kt-widget4__number kt-font-brand">   {{ seat.seats|number_format }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="regionalPie" style="width: 100%; height: 700px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Quick Stats-->
                            <div class="row row-full-height">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-brand kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                            <span class="kt-widget26__number">
                                                                 {% if seatCount>0 %}
                                                                     {{((seatCount/constituenciesCount)*100)|round(2)}}% out of {{ constituenciesCount }}
                                                                 {% else  %}
                                                                     No Data
                                                                 {% endif  %}
                                                            </span>
                                                    <span class="kt-widget26__desc">Constituencies Declared</span>
                                                </div>

                                                <i class="fa fa-6x fa-users" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-success kt-font-success kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.ptotalValid|number_format }}</span>
                                                    <span class="kt-widget26__desc"> Total Valid Votes</span>
                                                </div>
                                                <i class="fa fa-6x fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-dark kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.ptotalCast|number_format }}</span>
                                                    <span class="kt-widget26__desc">Total Votes Casted</span>
                                                </div>
                                                <div style="height:100px; width: 230px;text-align: center">
                                                    <img height="100"
                                                         src="{{ asset('bundles/report/image/votes.png') }} ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-danger kt-font-danger kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.ptotalRejected|number_format }}</span>
                                                    <span class="kt-widget26__desc">Rejected Votes</span>
                                                </div>

                                                <i class="fa fa-6x fa-window-close" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Quick Stats-->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            {{regionName}} Regional Voters and Ballot Statistics
                                        </h3>

                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="voteData" style="width: 100%; height: 360px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>

                    <!--end ::candidatate-->
                    <!--begin::constituencies-->

                    {#      Constutuency results#}
                    <div class="row">
                        <!-- begin:: constituency resulst -->

                        {% for result in constituenciesResult %}
                            <div class="col-xl-4">
                                <!--begin:: Widgets/Authors Profit-->
                                <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                    <div class="kt-portlet__head ">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                {{ result.constituency.name }}
                                            </h3>
                                            <br>
                                        </div>
                                        <div class="kt-portlet__head-label ">
                                            <h5> {{ result.resultParliamentaryBallot.0.candidate.party.acronymn }} <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget4">
                                            {% for candidate in result.resultParliamentaryBallot %}
                                                <div class="kt-widget4__item">
                                                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                        <img src="{{ asset('uploads/party_image/') }}{{ candidate.candidate.party.pix }}"
                                                             alt=" {{ candidate.candidate.name|e }}"
                                                             style="height: 2.5rem;">
                                                    </div>
                                                    <div class="kt-widget7__info" style="width: 100%">

                                                        <span class="kt-widget4__number kt-font-brand">
                                                             {%   if result.ptotalValid>0%}
                                                                 {{ ((candidate.votes/result.ptotalValid)*100)|round(3) }}%
                                                             {%   endif %}
                                                        </span>
                                                        <div class="progress progress-lg">
                                                            <div class="progress-bar barpos{{ loop.index }}"
                                                                 role="progressbar"
                                                                 style="width:
                                                                 {%   if result.ptotalValid>0%}
                                                                     {{ (candidate.votes/result.ptotalValid)*100 }}
                                                                 {%   else %}
                                                                    0
                                                               {%   endif %}
                                                                         %"
                                                                 aria-valuenow="75" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="kt-align-right">
                                        <a href="{{ path('detail',{year: year, id: result.constituency.id }) }}" class="btn btn-label-info btn-square ">
                                            Total Votes {{ result.ptotalValid }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('.yearResults,.regionResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>


    <!-- Chart code -->
    <script>

        Highcharts.chart('regionalPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'item'
            },
            title: {
                text: '{{regionName}} Regional Seats'
            },
            subtitle: {
                text: 'Parliamentary Seats Visualization'
            },
            legend: {
                labelFormat: '{name} <span style="opacity: 0.4">{y}</span>'
            },
            series: [{
                name: 'MPs',
                keys: ['name', 'y', 'color', 'label'],
                data: [
                    {% for seat in seats %}
                    ['{{ seat.pname }}', {{ seat.seats }}, null, '{{ seat.acronymn }}'],
                    {%endfor  %}
                ],
                dataLabels: {
                    enabled: true,
                    format: '{point.label}'
                },
                // Circular options
                center: ['50%', '88%'],
                size: '170%',
                startAngle: -100,
                endAngle: 100
            }]
        });


        Highcharts.chart('voteData', {
            colors: ['#FF965','#1dc9b7', '#fd397a', 'darkred', '#ffb822', '#64E572' ],
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{regionName}} Regional  Voter and Ballot Statistics'
            },
            subtitle: {
                text: 'Source: EC Ghana'
            },
            xAxis: {
                categories: ['Vote Data Category'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: 'Vote Casted',
                    data: [{{votePopulation.ptotalCast}}]
                },

                {
                    name: 'Valid Votes',
                    data: [{{votePopulation.ptotalValid}}]
                },{
                    name: 'Rejected Votes',
                    data: [ {{votePopulation.ptotalRejected}}]
                },
            ]
        });

    </script>

{% endblock %}
