{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Details of {{ constituencyName }}
{% endblock %}


{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <div class="row stickSearch">
                        <div class="kt-portlet kt-portlet--height-fluid  kt-portlet kt-portlet--solid-info">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {% if candidates.presidentialResult|length>0 %}
                                            {{ constituencyName }} Constituency Results <span
                                                class="kt-badge kt-badge--warning kt-badge--dot"></span>
                                            Updated
                                            <i class="fa fa-1x fa-clock"> </i>
                                            {{ candidates.presidentialResult[0].updatedAt|date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            No Results
                                        {% endif %}

                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <form action="" method="POST">
                                        <span class="kt-font-transform-u">Result for</span>
                                        {{ form_widget(form.year,{value:year}) }}
                                        {{ form_widget(form.constituency,{value:constituency}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Begin::Dashboard 4-->
                    <!--begin ::president-->
                    {% if candidates.presidentialResult|length>0 %}
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin:: Widgets/Authors Profit-->
                                <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                    <div class="kt-portlet__head ">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                Presidential
                                            </h3>
                                        </div>
                                        <div class="kt-portlet__head-label ">
                                            <h5> {{ candidates.presidentialResult[0].candidate }}
                                                <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="kt-portlet__body">
                                        <div class="kt-widget4">
                                            {% for candidate in candidates.presidentialResult %}
                                                <div class="kt-widget4__item">
                                                    <div class="rank pos{{ loop.index }}">
                                                        {{ loop.index }}
                                                        <sup class=" rankpos{{ loop.index }}"></sup>
                                                    </div>
                                                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                        <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                                             alt=" {{ candidate.candidate|e }}"
                                                             style="width: 4rem;">
                                                    </div>
                                                    <div class="kt-widget7__info" style="width: 100%">
                                                        <a href="#" class="kt-widget4__title">
                                                            {{ candidate.candidate|e }}
                                                        </a>
                                                        <p class="kt-widget5__text">
                                                            <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo }}"
                                                                 alt=" {{ candidate.party|e }}"
                                                                 style="width: 1.5rem;">
                                                            {{ candidate.party|e }}
                                                        </p>
                                                        <div class="progress progress-lg">
                                                            <div class="progress-bar barpos{{ loop.index }}"
                                                                 role="progressbar"
                                                                 style="width: {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%"
                                                                 aria-valuenow="75" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>

                                                            <h5>
                                                                {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}
                                                                %
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <span class="kt-widget4__number kt-font-brand"> {{ candidate.votes|number_format }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="kt-align-right">
                                        Valid
                                        <a href="#" class="btn btn-label-success-o2  btn-square vote-value">
                                            {{ (votePopulation.totalValid)|number_format }}
                                        </a>
                                    </div>
                                    <div class="kt-align-right">
                                        Rejected
                                        <a href="#" class="btn btn-label-danger-o2 btn-square vote-value">
                                            {{ votePopulation.totalRejected|number_format }}
                                        </a>
                                    </div>
                                    <div class="kt-align-right">
                                        Total
                                        <a href="#" class="btn btn-label-info-o2  btn-square vote-value">
                                            {{ votePopulation.totalCast |number_format }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <!--begin:: Widgets/Order Statistics-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget12">
                                            <div>
                                                <div id="presidentPie" style="width: 100%; height: 400px;"></div>
                                            </div>
                                            <br>
                                            <div>
                                                <div id="presidentBar" style="width: 100%; height: 400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Widgets/Order Statistics-->
                            </div>
                        </div>
                    {% endif %}


                    <!--begin ::parliament-->
                    {% if candidates.parliamentsResult|length>0 %}
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin:: Widgets/Authors Profit-->
                                <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                    <div class="kt-portlet__head ">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                Parliamentary
                                            </h3>
                                        </div>
                                        <div class="kt-portlet__head-label ">
                                            <h5> {{ candidates.parliamentsResult[0].candidate }}
                                                <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="kt-portlet__body">
                                        <div class="kt-widget4">
                                            {% for candidate in candidates.parliamentsResult %}
                                                <div class="kt-widget4__item">
                                                    <div class="rank pos{{ loop.index }}">
                                                        {{ loop.index }}
                                                        <sup class=" rankpos{{ loop.index }}"></sup>
                                                    </div>
                                                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                        <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                                             alt=" {{ candidate.candidate|e }}"
                                                             style="width: 4rem;">
                                                    </div>
                                                    <div class="kt-widget7__info" style="width: 100%">
                                                        <a href="#" class="kt-widget4__title">
                                                            {{ candidate.candidate|e }}
                                                        </a>
                                                        <p class="kt-widget5__text">
                                                            <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo }}"
                                                                 alt=" {{ candidate.party|e }}"
                                                                 style="width: 1.5rem;">
                                                            {{ candidate.party|e }}
                                                        </p>
                                                        <div class="progress progress-lg">
                                                            <div class="progress-bar barpos{{ loop.index }}"
                                                                 role="progressbar"
                                                                 style="width: {{ ((candidate.votes/votePopulation.ptotalValid)*100)|round(2) }}%"
                                                                 aria-valuenow="75" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>

                                                            <h5>
                                                                {{ ((candidate.votes/votePopulation.ptotalValid)*100)|round(2) }}
                                                                %
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <span class="kt-widget4__number kt-font-brand"> {{ candidate.votes|number_format }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="kt-align-right">
                                        Valid
                                        <a href="#" class="btn btn-label-success-o2  btn-square vote-value">
                                            {{ (votePopulation.ptotalValid)|number_format }}
                                        </a>
                                    </div>
                                    <div class="kt-align-right">
                                        Rejected
                                        <a href="#" class="btn btn-label-danger-o2 btn-square vote-value">
                                            {{ votePopulation.ptotalRejected|number_format }}
                                        </a>
                                    </div>
                                    <div class="kt-align-right">
                                        Total
                                        <a href="#" class="btn btn-label-info-o2  btn-square vote-value">
                                            {{ votePopulation.ptotalCast |number_format }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <!--begin:: Widgets/Order Statistics-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__body kt-portlet__body--fluid">
                                        <div class="kt-widget12">
                                            <div>
                                                <div id="parliamentBar" style="width: 100%; height: 400px;"></div>
                                            </div>
                                            <br>
                                            <div>
                                                <div id="parliamentPie" style="width: 100%; height: 400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--end:: Widgets/Order Statistics-->
                            </div>
                        </div>
                    {% endif %}

                    <!--begin ::pollingstation-->

                    {% if candidates.pollingResults|length>0 %}
                        <div class="row">

                        {% for result in candidates.pollingResults %}
                            <div class="col-xl-4">
                                <!--begin:: Widgets/New Users-->
                                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            {% set domain = app.request.getSchemeAndHttpHost() %}
                                            {% set filepath = asset('uploads/pink_sheet/') %}
                                            <a  target="_blank" href="{{ domain ~ filepath }}{{ result.pix }}" class="btn btn-label-danger btn-square btn-sm ">
                                                <span>{{ result.pollingStation.name }} <i class=" fa fa-file-download "> </i></span>
                                            </a>
                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand"
                                                role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="#kt_widget4_tab1_content{{result.pollingStation.name|replace({' ': ''}) }}" role="tab">
                                                        Presidential
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab"
                                                       href="#kt_widget4_tab2_content{{result.pollingStation.name|replace({' ': ''}) }}" role="tab">
                                                        Parliamentary
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="kt_widget4_tab1_content{{result.pollingStation.name|replace({' ': ''}) }}">
                                                <div class="kt-widget4">
                                                    {% for candidate in result.pollResultPartyBallot %}
                                                        <div class="kt-widget4__item">
                                                            <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                                <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.candidate.pix }}"
                                                                     alt=" {{ candidate.candidate.name|e }}"
                                                                     style="height: 2.5rem;">
                                                            </div>
                                                            <div class="kt-widget7__info" style="width: 100%">
                                                                <span class="kt-widget4__number kt-font-brand">  {{ ((candidate.votes/result.totalValid)*100)|round(3) }}%</span>
                                                                <div class="progress progress-lg">
                                                                    <div class="progress-bar barpos{{ loop.index }}"
                                                                         role="progressbar"
                                                                         style="width: {{ (candidate.votes/result.totalValid)*100 }}%"
                                                                         aria-valuenow="75" aria-valuemin="0"
                                                                         aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="kt_widget4_tab2_content{{result.pollingStation.name|replace({' ': ''}) }}">
                                                <div class="kt-widget4">
                                                    {% for candidate in result.pollResultParliamentaryBallot %}
                                                        <div class="kt-widget4__item">
                                                            <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                                <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.candidate.pix }}"
                                                                     alt=" {{ candidate.candidate.name|e }}"
                                                                     style="height: 2.5rem;">
                                                            </div>
                                                            <div class="kt-widget7__info" style="width: 100%">
                                                                <span class="kt-widget4__number kt-font-brand">  {{ ((candidate.votes/ result.ptotalValid)*100)|round(3) }}%</span>
                                                                <div class="progress progress-lg">
                                                                    <div class="progress-bar barpos{{ loop.index }}"
                                                                         role="progressbar"
                                                                         style="width: {{ (candidate.votes/result.ptotalValid)*100 }}%"
                                                                         aria-valuenow="75" aria-valuemin="0"
                                                                         aria-valuemax="100">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Widgets/New Users-->
                            </div>

                        {% endfor %}
                        </div>
                    {% endif %}

                </div>


                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('.yearResults,.constituencyResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>

    <!-- Chart code -->

    <script>

        // Build the chart
        Highcharts.chart('presidentPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 35
                }
            },
            title: {
                text: '{{ constituencyName }}  Presidential Share for {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            subtitle: {
                text: 'Source: E.C Ghana'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    innerSize: 100,
                    depth: 45,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + '</b><br>Vote count: ' + this.point.y + '</b> ';
                        },
                    }

                }
            },

            series: [
                {
                    name: 'Votes',
                    // colorByPoint: true,
                    data: [

                        {% for candidate in candidates.presidentialResult %}
                        {
                            name: "{{ candidate.candidate }}",
                            y: {{ candidate.votes }}
                        },
                        {% endfor %}

                    ]
                }]
        });
        Highcharts.chart('presidentBar', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],

            chart: {
                type: 'bar'
            },
            tooltip: {
                pointFormat: 'Votes <b>{point.y}</b>'
            },
            legend: {
                enabled: false
            },

            title: {
                text: '{{ constituencyName }} Presidential Votes {{ homeDefault.name }}'
            },
            xAxis: {
                categories: [
                    {% for candidate in candidates.presidentialResult %}
                    "{{ candidate.acronymn }}",
                    {% endfor %}
                ]
            },
            plotOptions: {
                series: {
                    colorByPoint: true
                }
            },
            series: [{
                data: [
                    {% for candidate in candidates.presidentialResult %}
                    {{ candidate.votes }},
                    {% endfor %}
                ],
                dataLabels: {
                    enabled: true,
                    // rotation: 360,
                    color: '#FFFFFF',
                    // align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }],

        });
        <!-- Chart code -->
        Highcharts.chart('parliamentPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 35
                }
            },
            title: {
                text: '{{ constituencyName }}  Parliamentary Share for {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            subtitle: {
                text: 'Source: E.C Ghana'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    innerSize: 100,
                    depth: 45,
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + '</b><br>Vote count: ' + this.point.y + '</b> ';
                        },
                    }

                }
            },

            series: [
                {
                    name: 'Votes',
                    // colorByPoint: true,
                    data: [

                        {% for candidate in candidates.parliamentsResult %}
                        {
                            name: "{{ candidate.candidate }}",
                            y: {{ candidate.votes }}
                        },
                        {% endfor %}

                    ]
                }]
        });
        Highcharts.chart('parliamentBar', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],

            chart: {
                type: 'bar'
            },
            tooltip: {
                pointFormat: 'Votes <b>{point.y}</b>'
            },
            legend: {
                enabled: false
            },

            subtitle: {
                text: 'Source: E.C Ghana'
            },

            title: {
                text: '{{ constituencyName }}  Parliamentary Votes {{ homeDefault.name }}'
            },
            xAxis: {
                categories: [
                    {% for candidate in candidates.parliamentsResult %}
                    "{{ candidate.acronymn }}",
                    {% endfor %}
                ]
            },
            plotOptions: {
                series: {
                    colorByPoint: true
                }
            },
            series: [{
                data: [
                    {% for candidate in candidates.parliamentsResult %}
                    {{ candidate.votes }},
                    {% endfor %}
                ],
                dataLabels: {
                    enabled: true,
                    // rotation: 360,
                    color: '#FFFFFF',
                    // align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }],

        });

    </script>




{% endblock %}
