{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Election Hub Home
{% endblock %}


{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <div class="row stickSearch">
                        <div class="kt-portlet kt-portlet--height-fluid  kt-portlet kt-portlet--solid-info">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {%  if latest is not null %}
                                            Results <span class="kt-badge kt-badge--warning kt-badge--dot"></span>
                                            Updated
                                            <i class="fa fa-1x fa-clock"> </i>
                                            {{ latest|date("F jS \\a\\t g:ia") }}
                                            {% else %}
                                            No Results
                                        {% endif%}

                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <form action="" method="POST">
                                       <span class="kt-font-transform-u">Result for</span>
                                        {{ form_widget(form.year,{value:year}) }}
                                        {{ form_widget(form.region,{value:region}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Begin::Dashboard 4-->

                    <!--begin ::candidatate-->
                    <div class="row">
                        <div class="col-xl-6">

                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">{{regionName}} Regional Race.. (23 out of 30 constituencies)
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget4">
                                        {% for candidate in candidates %}
                                            <div class="kt-widget4__item">
                                                <div class="rank pos{{ loop.index }}">
                                                    {{ loop.index }}
                                                    <sup class=" rankpos{{ loop.index }}"></sup>
                                                </div>
                                                <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                    <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                                         alt=" {{ candidate.candidate|e }}"
                                                         style="width: 4rem;">
                                                </div>
                                                <div class="kt-widget7__info" style="width: 100%">
                                                    <a href="#" class="kt-widget4__title">
                                                        {{ candidate.candidate|e }}
                                                    </a>
                                                    <p class="kt-widget5__text">
                                                        <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo }}"
                                                             alt=" {{ candidate.candidate|e }}"
                                                             style="width: 1.5rem;">
                                                        {{ candidate.party|e }}
                                                    </p>
                                                    <div class="progress progress-lg" >
                                                        <div class="progress-bar barpos{{ loop.index }}"
                                                             role="progressbar"
                                                             style="width: {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%" aria-valuenow="75" aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>

                                                        <h5> {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%</h5>
                                                    </div>
                                                </div>
                                                <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="regionalPie" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>


                    <!--end ::candidatate-->
                    <!--begin::constituencies-->

                    {#      Constutuency results#}
                    <div class="row">
                        <!-- begin:: constituency resulst -->

                        {% for result in constituenciesResult %}
                            <div class="col-xl-4">
                                <!--begin:: Widgets/Authors Profit-->
                                <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                    <div class="kt-portlet__head ">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                {{ result.constituency }}
                                            </h3>
                                            <br>
                                        </div>
                                        <div class="kt-portlet__head-label ">
                                            <h5> {{ result.0.resultPartyBallot.0.candidate.party.acronymn }} <i class="fa fa-x fa-check-circle kt-font-success"> </i>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget4">
                                            {% for candidate in result.0.resultPartyBallot %}
                                                <div class="kt-widget4__item">
                                                    <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                        <img src="{{ asset('uploads/party_image/') }}{{ candidate.candidate.party.pix }}"
                                                             alt=" {{ candidate.candidate.name|e }}"
                                                             style="height: 2.5rem;">
                                                    </div>
                                                    <div class="kt-widget7__info" style="width: 100%">
                                                        <span class="kt-widget4__number kt-font-brand">  {{ ((candidate.votes/result.0.totalValid)*100)|round(3) }}%</span>
                                                        <div class="progress progress-lg">
                                                            <div class="progress-bar barpos{{ loop.index }}"
                                                                 role="progressbar"
                                                                 style="width: {{ (candidate.votes/result.0.totalValid)*100 }}%"
                                                                 aria-valuenow="75" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="kt-align-right">
                                        <a href="{{ path('detail',{year: year, id: result.cId}) }}" class="btn btn-label-info btn-square ">
                                            Total Votes {{ result.0.totalValid }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>


                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('.yearResults,.regionResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

    <!-- Chart code -->
    <script>

        // Build the chart
        Highcharts.chart('regionalPie', {
            colors: ['#50B432', 'red', 'darkred', '#ffb822', '#64E572', '#FF965'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '{{ regionName }} Regional Percentage Share for {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b><br>Vote count: '+ this.point.y;
                        },
                    }
                },
            },
            series: [
                {
                name: 'Votes',
                // colorByPoint: true,
                data: [
                    {% for candidate in candidates %}
                    {
                        name: "{{ candidate.candidate|split(' ')[0] }} {{ candidate.candidate|split(' ')[1] }}",
                        y: {{ candidate.votes }}
                    },
                    {% endfor %}
                ]
            }]
        });
    </script>


{% endblock %}
