{% extends "ReportBundle:base:base.html.twig" %}

{% block title %}
    Election Hub Home
{% endblock %}


{% block content %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch">
        <div class="kt-container kt-body  kt-grid kt-grid--ver" id="kt_body">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-content kt-grid__item kt-grid__item--fluid">
                    <div class="row stickSearch">
                        <div class="kt-portlet kt-portlet--height-fluid  kt-portlet kt-portlet--solid-info">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        {%  if latest is not null %}
                                            Presidential Results <span class="kt-badge kt-badge--warning kt-badge--dot"></span>
                                            Updated
                                            <i class="fa fa-1x fa-clock"> </i>
                                            {{ latest|date("F jS \\a\\t g:ia") }}
                                        {% else %}
                                            No Results
                                        {% endif%}
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <form action="" method="POST">
                                        <span class="kt-font-transform-u">Result for</span>
                                        {{ form_widget(form.year,{value:year}) }}
                                        {{ form_widget(form.region,{value:region}) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Begin::Dashboard 4-->

                    <!--begin ::candidatate-->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        {% set seatCount=0 %}
                                        {% for seat in seats %}
                                            {% set seatCount = seatCount+seat.seats %}
                                        {% endfor %}
                                        <h6 class="kt-portlet__head-title">{{regionName}}  Presidential  Results  ~ {{seatCount}} of {{ constituenciesCount }} constituencies declared</h6>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                    </div>
                                </div>

                                <div class="kt-portlet__body">
                                    <div class="kt-widget4">
                                        {% for candidate in candidates %}
                                            <div class="kt-widget4__item">
                                                <div class="rank pos{{ loop.index }}">
                                                    {{ loop.index }}
                                                    <sup class=" rankpos{{ loop.index }}"></sup>
                                                </div>
                                                <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                    <img src="{{ asset('uploads/candidate_image/') }}{{ candidate.pix }}"
                                                         alt=" {{ candidate.candidate|e }}"
                                                         style="width: 4rem;">
                                                </div>
                                                <div class="kt-widget7__info" style="width: 100%">
                                                    <a href="#" class="kt-widget4__title">
                                                        {{ candidate.candidate|e }}
                                                    </a>
                                                    <p class="kt-widget5__text">
                                                        <img src="{{ asset('uploads/party_image/') }}{{ candidate.logo }}"
                                                             alt=" {{ candidate.candidate|e }}"
                                                             style="width: 1.5rem;">
                                                        {{ candidate.party|e }}
                                                    </p>
                                                    <div class="progress progress-lg" >
                                                        <div class="progress-bar barpos{{ loop.index }}"
                                                             role="progressbar"
                                                             style="width: {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%" aria-valuenow="75" aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>

                                                        <h5> {{ ((candidate.votes/votePopulation.totalValid)*100)|round(2) }}%</h5>
                                                    </div>
                                                </div>
                                                <span class="kt-widget4__number kt-font-brand">   {{ candidate.votes|number_format }}</span>
                                            </div>
                                        {% endfor %}
                                        <div class="kt-align-right">
                                            <a href="#" class="btn btn-label-info btn-square ">
                                                Total Valid Votes {{ votePopulation.totalValid|number_format }}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="presidentialPie" style="width: 100%; height: 400px;"></div>
                                            <br>
                                            <div id="presidentialHorizontal" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>


                    <!--begin ::candidatate-->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-portlet kt-portlet--bordered-semi kt-portlet--height-fluid">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        {% set seatCount=0 %}
                                        {% for seat in seats %}
                                            {% set seatCount = seatCount+seat.seats %}
                                        {% endfor %}
                                        <h3 class="kt-portlet__head-title">{{regionName}} Regional Presidential Seats ~ {{seatCount}} of {{ constituenciesCount }} constituencies declared
                                        </h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand"> {{ homeDefault.name }}</span>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="kt-widget4">
                                        {% for seat in seats %}
                                            <div class="kt-widget4__item">
                                                <div class="kt-widget4__pic kt-widget4__pic--logo">
                                                    <img src="{{ asset('uploads/party_image/') }}{{ seat.logo }}"
                                                         alt=" {{ seat.pname|e }}"
                                                         style="width: 4rem;">
                                                </div>
                                                <div class="kt-widget7__info" style="width: 100%">
                                                    <a href="#" class="kt-widget4__title">
                                                        {{seat.pname|e }}
                                                    </a>
                                                    <p class="kt-widget5__text">
                                                        {{ seat.acronymn|e }}
                                                    </p>
                                                    <div class="progress progress-lg" >
                                                        <div class="progress-bar barpos{{ loop.index }}"
                                                             role="progressbar"
                                                             style="width:{{ ((seat.seats/constituenciesCount)*100)|round(2) }}%"
                                                             aria-valuenow="75" aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                        <h5>
                                                            {{ ((seat.seats/constituenciesCount)*100)|round(2) }}%
                                                        </h5>
                                                    </div>
                                                </div>
                                                <span class="kt-widget4__number kt-font-brand">   {{ seat.seats|number_format }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">

                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="regionalPie" style="width: 100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>

                    <!--begin ::seats...-->
                    <div class="row">
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Quick Stats-->
                            <div class="row row-full-height">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-brand kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                            <span class="kt-widget26__number">
                                                                {% if seatCount>0 %}
                                                               {{((seatCount/constituenciesCount)*100)|round(2)}}% out of {{ constituenciesCount }}
                                                                {% else  %}
                                                                    NO Data
                                                                {% endif  %}
                                                            </span>
                                                    <span class="kt-widget26__desc">Constituencies Declared</span>
                                                </div>

                                                <i class="fa fa-6x fa-users" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-success kt-font-success kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalValid|number_format }}</span>
                                                    <span class="kt-widget26__desc"> Total Valid Votes</span>
                                                </div>
                                                <i class="fa fa-6x fa-check" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-dark kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalCast|number_format }}</span>
                                                    <span class="kt-widget26__desc">Total Votes Casted</span>
                                                </div>
                                                <div style="height:100px; width: 230px;text-align: center">
                                                    <img height="100"
                                                         src="{{ asset('bundles/report/image/votes.png') }} ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-danger kt-font-danger kt-align-center">
                                        <div class="kt-portlet__body kt-portlet__body--fluid">
                                            <div class="kt-widget26">
                                                <div class="kt-widget26__content">
                                                    <span class="kt-widget26__number">{{ votePopulation.totalRejected|number_format }}</span>
                                                    <span class="kt-widget26__desc">Rejected Votes</span>
                                                </div>

                                                <i class="fa fa-6x fa-window-close" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Quick Stats-->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Order Statistics-->
                            <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget12">
                                        <div>
                                            <div id="voteData" style="width: 100%; height: 360px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Order Statistics-->
                        </div>
                    </div>

                    <!--end ::candidatate-->
                    <!--begin::constituencies-->
                    {#      Constutuency results#}
                    <div class="row">
                        {% if resLevel=='Constituency' %}
                            {{ include('@Report/inlcudes/constituencyPresidentLevelResult.html.twig') }}
                        {% else %}
                            {{ include('@Report/inlcudes/pollingStationPresidentLevelResult.html.twig') }}

                        {% endif %}


                    </div>
                </div>
                <!-- end:: Content -->
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $('.yearResults,.regionResults').change(function () {
            $(this).closest('form').submit();
        });
    </script>


    <!-- Chart code -->
    <script>

        Highcharts.chart('presidentialPie', {

            colors: ['green', 'red', '#8b0000', '#ffb822', '#64E572', '#FF965','cyan'],
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            title: {
                text: '{{ regionName }} Regional Percentage Share for {{ homeDefault.name }}'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            subtitle: {
                text: 'Source: E.C Ghana'
            },
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    innerSize: 100,
                    depth: 45,
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b><br>Vote count: '+ this.point.y+'</b> ';
                        },
                    }

                }
            },

            series: [{
                name: 'Votes Percentage',
                data: [
                        {% for candidate in candidates %}
                    ['{{ candidate.candidate|e }}', {{candidate.votes  }}],
                        {% endfor %}
                ]
            }]
        });



        Highcharts.chart('regionalPie', {
            colors: ['green', 'red', '#8b0000', '#ffb822', '#64E572', '#FF965','cyan'],
            chart: {
                type: 'item'
            },
            title: {
                text: '{{regionName}} Regional Seats'
            },
            subtitle: {
                text: 'Presidential Seats Visualization'
            },
            legend: {
                labelFormat: '{name} <span style="opacity: 0.4">{y}</span>'
            },
            series: [{
                name: 'MPs',
                keys: ['name', 'y', 'color', 'label'],
                data: [
                    {% for seat in seats %}
                    ['{{ seat.pname }}', {{ seat.seats }}, null, '{{ seat.acronymn }}'],
                    {%endfor  %}
                ],
                dataLabels: {
                    enabled: true,
                    format: '{point.label}'
                },
                // Circular options
                center: ['50%', '88%'],
                size: '170%',
                startAngle: -100,
                endAngle: 100
            }]
        });


        Highcharts.chart('voteData', {
            colors: ['#FF965','#1dc9b7', '#fd397a', 'darkred', '#ffb822', '#64E572' ],
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{regionName}} Region Presidential Voter and Ballot Statistics'
            },
            subtitle: {
                text: 'Source: EC Ghana'
            },
            xAxis: {
                categories: ['Vote Data Category'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [
                {
                    name: 'Vote Casted',
                    data: [{{votePopulation.totalCast}}]
                },

                {
                    name: 'Valid Votes',
                    data: [{{votePopulation.totalValid}}]
                },{
                    name: 'Rejected Votes',
                    data: [ {{votePopulation.totalRejected}}]
                },
            ]
        });



        Highcharts.chart('presidentialHorizontal', {
            colors: ['green', 'red', '#8b0000', '#ffb822', '#64E572', '#FF965','cyan'],
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{regionName}} Region Presidential Voter Race'
            },
            subtitle: {
                text: 'Source: EC Ghana'
            },
            xAxis: {
                categories: ['Runner'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                // layout: 'vertical',
                // align: 'right',
                // verticalAlign: 'bottom',
                // x: -40,
                // y: 80,
                // floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [

                {% for candidate in candidates %}

                {
                    name: '{{ candidate.candidate|e }}',
                    data: [{{candidate.votes  }}]
                },

                {% endfor %}


            ]
        });



    </script>


{% endblock %}
